* {
    margin: 0;
    padding:0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding:5px;
    margin-bottom: 5px;
    background-color: antiquewhite;

}
.container {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.nav__list{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    text-decoration: none;
    list-style-type: none;

}

.nav__item a{
    text-decoration: none;
    color: #333
}

.hero-section{
    background-color: wheat;
    padding:12px;
}
.hero-section__left{
    color: violet;
    font-size: 1.5rem;
    padding: 12px;
}

.hero-button{
    padding:8px 10px;
    border: transparent;
    background-color: blue;
    color: #fff;
    margin-top: 12px;
    border-radius: 10px;
}
.hero-section__right{
display: flex;
flex-wrap: wrap;
align-content: center;
align-items: center;
}

.hero-section__right img{
width: 250px;
height: 250px;
border-radius: 15px;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section{
    display: flex;
    flex-direction:column;
    gap: 10%;
}
.about__heading{
    color:#333;
    font-size:2rem;

}

